@font-face {
  font-family: myFirstFont;
  src: url(../fonts/ae_AlMothnna_bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: secFont;
  src: url(../fonts/GE-MB-MB-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: thirdFont;
  src: url(../fonts/bahnschrift.ttf);
  font-weight: 500;
}

h5 {
  display: block;
}


.export{
    height: 25px;
    width: fit-content;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    top: 0% ;
}

.padding-card img {
  margin-bottom: 40px !important;
  width: fit-content;
}

.but-height{
  position: relative;
  left: 10px;
}