@font-face {
    font-family: myFirstFont;
    src: url(../fonts/ae_AlMothnna_bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: secFont;
    src: url(../fonts/GE-MB-MB-Medium.otf);
    font-weight: 500;}

@font-face {
    font-family: thirdFont;
    src: url(../fonts/bahnschrift.ttf);
    font-weight: 500;
}

.pos-style{
    display: flex;
    justify-content: space-between;
    font-family: myFirstFont;
}

.margin-card-cus{
    margin-bottom: 0px;
}
.chan-img{
    margin-left: 5%;
    margin-right: 5%;
}

.dropdown-menu{
    font-family: secFont;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 0.125rem -40px 0px;
}

h5{
    margin-top: 20px;
    margin-bottom: 15px;
}

.nav-pills {
    margin-bottom: 0rem;
}

.btn-style{
    background-color: white;
    border-color: transparent;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0px 3px 6px -3px #00000083;
    padding:  5px 0px;
}

.btn-style:hover{
    background-color: white;
    border-color: transparent;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0px 3px 6px -3px #00000083;
}

.btn-style:focus{
    background-color: white;
    border-color: transparent;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0px 3px 6px -3px #00000083;
}

.op-text{
    padding-left: 20px;
    padding-right: 10px;
}

.arabic{
    color: #707070 !important;
}

.new-order{
    color: #138EDF !important;
}

.accepted-order{
    color: #C49372 !important;
}

.shipping{
    color: #07BEDB !important ;
}

.delevired{
    color: #58E198 !important;
}

.canceld{
    color: #E15858 !important;
}

.returned{
    color: #E69D1E !important;
}

.no-answer{
    color: #707070 !important;
}
.replace{
    color: #E158AF !important;
}

.not-found{
    color: #85144B !important;
}

.order-stat{
    width: 100%;
    border-color: #9B9B9B;
    border-width: 2px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.dele-img{
    margin-left: 32% !important;
    margin-right: 32% !important;
}

.modal-footer{
    display: flex;
    justify-content: space-around;
}

.card-filter{
    margin-top: 30px;
}

.modal-content{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-style: solid;
    border-color: #1492E6 ;
    border-width: 2.5px;
    box-shadow: 0px 3px 6px -3px #1492E6;
}

.cus-modle-form-control-filter{
    text-align: start ;
    display: block;
    width: 100%;
    margin-left: 0px;
    height: calc(1.5715em + .875rem + 2px);
    padding: .4375rem .875rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5715;
    color: #707070;
    background-color: #F6F6F6;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: white;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -ms-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-width: 1.5px;
    border-style: solid;
}

.cus-padding-card-search{
    padding-bottom: 0px;
}

.pos-boutt{
    position: relative;
    bottom: 3px;
}

.form-group-feedback{
    position: relative;
    left: 3%;
}

.nav-pills .nav-link.active{
    color: transparent;
    background-color: transparent;
}

.nav {
    padding-right: 0px;
}

.new-order, .done-order, .all-orders, .confirm, .delev, .cancel-order-tab, .return-order, .no-anwer-tab, .change-order, .not-avill{
    color: #9B9B9B !important;
    font-size: 16px;
    font-weight: bold;
}

.new-order.active{
    color: #1492E6 !important;
}

.all-orders.active{
    color: #1492E6 !important;
}

.confirm.active{
    color: #C49372 !important;
}

.delev.active{
    color: #07BEDB !important;
}

.done-order.active{
    color: #58E198 !important;
}


.cancel-order-tab.active{
    color: #E15858 !important;
}


.return-order.active{
    color: #E69D1E !important;
}

.no-anwer-tab.active{
    color: #707070 !important;
}

.change-order.active{
    color: #E158AF !important;
}

.not-avill.active{
    color: #85144B !important;
}

.cus-modle-form-control {
    text-align: start ;
    display: block;
    width: 100%;
    margin-left: 0px;
    height: calc(1.5715em + .875rem + 2px);
    padding: .4375rem .875rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5715;
    color: #707070;
    background-color: #F6F6F6;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: white;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -ms-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-width: 1.5px;
    border-style: solid;
}

.cus-modle-form-control:focus {
    border-color: #1492E6;
}

.close-btn{
    font-family: myFirstFont;
    color: #9B9B9B;
    border-style: solid;
    border-color: #9B9B9B;
    background-color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 85px;
    box-shadow: 0px 3px 6px -3px #00000083;
}

.delev-btn{
    font-family: myFirstFont;
    color: white;
    border-style: solid;
    border-color: white;
    background-color: #1492E6;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 85px;
    box-shadow: 0px 3px 6px -3px #00000083;
}

.modal-title{
    text-align: center;
    color: #707070;
    font-size: 30px;
    margin-top: 15px;
}

.small-title{
    text-align: end;
    margin-bottom: 25px;
}

.lable{
    direction: rtl;
    font-family: secFont !important;
    text-align: start;
    padding-right: 10px;
    font-size: 15px;
}

.dropzone{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 5%;
    min-height: 11rem;
}

@media (max-width: 576px) {
    .form-group-feedback{
      position: relative;
      left: 8px;
      margin-top: 15px;
    }
  
    .heghit-dev{
      margin-bottom: 20px;
    }
    .export{
    margin-bottom: 10px;
    }

    .search-button{
        margin-bottom: 15px;
    }

    .pos-boutt{
        margin-bottom: 10px;
        margin-top: 10px;
        position: relative;
        left: -15px;
    }
  }